<% 
const categoryName = "Algo";
const categoryProducts = [
    {
        id: 9,
        name: "demolition 1",
        summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        price: "150.00",
        stock: 100,
        srcImage: "https://storage.googleapis.com/fixedbeams-products-images/cars/demolition/demolition%201.png"
    },
    {
        id: 10,
        name: "demolition 2",
        summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        price: "170.00",
        stock: 100,
        srcImage: "https://storage.googleapis.com/fixedbeams-products-images/cars/demolition/demolition%202.png"
    },
    {
        id: 11,
        name: "demolition 3",
        summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        price: "120.50",
        stock: 100,
        srcImage: "https://storage.googleapis.com/fixedbeams-products-images/cars/demolition/demolition%203.png"
    },
    {
        id: 12,
        name: "demolition 4",
        summary: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        price: "140.00",
        stock: 100,
        srcImage: "https://storage.googleapis.com/fixedbeams-products-images/cars/demolition/demolition%204.png"
    }
]

%> 

<h2 class="d-flex justify-content-center mt-3 my-3">Productos de <%= categoryName %> </h2>
<div class="card-deck d-flex justify-content-center mt-3 my-3">
    <% categoryProducts.forEach( product => { %>
    <div class="card puntero fadeIn" style="width: 16rem;"> 
        <img class="card-img-top" src="<%= product.srcImage %> " alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><%= product.name %> </h5>
            <p class="card-text"><%= product.summary %> </p>
            <button class="textButton" class="btn btn-primary" type="button"
            (click)="irAProducto(product)">Agregar</button>
            <strong> $<%= product.price %> </strong>
        </div>
    </div>
    <% }); %>
</div>